@page
@model Hackaton.App.Presentacion.Pages.CrudEntidad.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Entidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Entidad.Id" />
            <div class="form-group">
                <label asp-for="Entidad.RazonSocial" class="control-label"></label>
                <input asp-for="Entidad.RazonSocial" class="form-control" />
                <span asp-validation-for="Entidad.RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.Nit" class="control-label"></label>
                <input asp-for="Entidad.Nit" class="form-control" />
                <span asp-validation-for="Entidad.Nit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.Direccion" class="control-label"></label>
                <input asp-for="Entidad.Direccion" class="form-control" />
                <span asp-validation-for="Entidad.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.Ciudad" class="control-label"></label>
                <input asp-for="Entidad.Ciudad" class="form-control" />
                <span asp-validation-for="Entidad.Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.DireccionElectronica" class="control-label"></label>
                <input asp-for="Entidad.DireccionElectronica" class="form-control" />
                <span asp-validation-for="Entidad.DireccionElectronica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.PaginaWeb" class="control-label"></label>
                <input asp-for="Entidad.PaginaWeb" class="form-control" />
                <span asp-validation-for="Entidad.PaginaWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.Sector" class="control-label"></label>
                <select asp-for="Entidad.Sector" class="form-control"></select>
                <span asp-validation-for="Entidad.Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entidad.ServiciosOfrece" class="control-label"></label>
                <select asp-for="Entidad.ServiciosOfrece" class="form-control"></select>
                <span asp-validation-for="Entidad.ServiciosOfrece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
